<div class="bg-gray">
  <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="car">
            <%= image_tag "http://placehold.it/200x200", class: "img-circle" %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="car">
            <%= image_tag "http://placehold.it/200x200", class: "img-circle" %>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div class="car">
            <%= image_tag "http://placehold.it/200x200", class: "img-circle" %>
          </div>
        </div>
    </div>
  </div>
</div>
